#chat-container{
    height: 500px !important;
    width: 100%;
    overflow: scroll;
}

.chat-message{
    width: 500px;
    background: crimson;
    padding: 5px;
    border-radius: 8px;
    color: white;
    margin: 3px;
}