#chat-container {
    height: 500px !important;
    width: 85%;
    overflow: scroll;
    padding: 10px;
    overflow-x: hidden;
}

.chat-message {
    width: 500px;
    background: rgb(255, 234, 239);
    padding: 10px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    margin: 5px;
}

#message-container {
    width: 75%;
}


.my-chat {
    background-color: rgb(229, 243, 248);
    color: black;

}