#chat-container{
    height: 500px !important;
    width: 85%;
    overflow: scroll;
    padding: 10px;
}

.chat-message{
    width: 500px;
    background: crimson;
    padding: 5px;
    border-radius: 8px;
    color: white;
    margin: 5px;
}

#message-container{
    width: 75%;
}