{% extends 'index.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Accordion Item #1
            </button>
          </h2>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              Accordion Item #2
            </button>
          </h2>
        </div>
        <div class="accordion-item">
          <div
            id="panelsStayOpen-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree"
          >
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <form action="" class="d-flex d-flex-row" id="message-form">
        <input
          type="input"
          class="form-control w-75"
          name="message"
          id="message"
        />
        <input type="submit" class="btn btn-primary" style="margin-left: 10px;" />
      </form>
      <div id="chat-container"></div>
    </div>
  </div>
</div>

{% endblock content %}
